body {
  background-color: pink;
}
span {
  align-content: center;
  font-family: 'Lora', Georgia, serif;
  font-size: 18px; 
  line-height: 1.8; 
  max-width: 600px; 
  margin: 0 auto;
  color: #C151BB;
}