#test {
  color: #006862;
  text-align: center;
}
hr {
  height: 3px;
  border: none;
  background-color: #006862;
}
body {
  margin: 0;
  background-color: #2FA084;
  color: #
}
#sit {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
}
#logo {
  width: 80px;
  height: 80px;
  object-fit: cover;
}
#pranchas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin: 8px;
}
.imgp {
  width: 100px;
  height: 100px;
  object-fit: cover;
}